{% extends 'Elevate/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 1rem;">
    <h1 class="display-5 text-center"> Vancouver's most affordable spray tans at only $50!</h1>
    <h2 class="display-6 text-center"> Important Details: </h2>
    <ul class="list-group">
        <li class="list-group-item bg-transparent no-border text-center" style="color: white;"> -Payment is accepted by E-Transfer or Cash only.</li>
        <li class="list-group-item bg-transparent no-border text-center" style="color: white;"> -Tips are not required, but greatly appreciated!</li>
        <li class="list-group-item bg-transparent no-border text-center" style="color: white;"> -Upon booking, we will reach out and provide exact details of location. </li>
        <li class="list-group-item bg-transparent no-border text-center" style="color: white;"> -Don't forget to check our provided Pre-Care instructions! </li>
        <li class="list-group-item bg-transparent no-border text-center" style="color: white;"> -Group bookings can be made via email or Instagram DM.</li>
    </ul>
    <hr class="featurette-divider" style="color: white;">
</div>
<script src="//widget.simplybook.me/v2/widget/widget.js" type="text/javascript"></script>
    <script type="text/javascript">
        var widget = new SimplybookWidget({"widget_type":"iframe","url":"https:\/\/elevatetanning.simplybook.me","theme":"creative","theme_settings":{"timeline_show_end_time":"0","timeline_modern_display":"as_slots","timeline_hide_unavailable":"1","index_page_content_grid":"[{\"template\":\"col_25_50_25\",\"items\":[\"timetable\",\"about-us\",\"contacts\"]}]","hide_past_days":"0","sb_base_color":"#784f00","display_item_mode":"block","booking_nav_bg_color":"#784f00","body_bg_color":"#ffffff","sb_review_image":"","dark_font_color":"#474747","light_font_color":"#ffffff","btn_color_1":"#fbe7c6","hide_img_mode":"1","show_sidebar":"1","sb_busy":"#c7b3b3","sb_available":"#ebddde"},"timeline":"modern","datepicker":"top_calendar","is_rtl":false,"app_config":{"clear_session":0,"allow_switch_to_ada":0,"predefined":[]}});
    </script>

{% endblock %}