{% extends 'Elevate/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="display-2 text-center">Pre-care steps to ensure your spray tan looks even and lasts longer.</h1>
    <div class="row justify-content-center">
        <div class="card" style="width: 22rem; margin: 1.5rem;">
            <div class="card-body">
            <h5 class="card-title"> Exfoliate </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"> Exfoliating Mits Available for $5</h6>
            <p class="card-text">Exfoliate your skin thoroughly 24 hours before your spray tan to remove dead skin 
                                cells. This helps the tan adhere better and last longer.</p>
            </div>
        </div>
        <div class="card" style="width: 22rem; margin: 1.5rem;">
            <div class="card-body">
            <h5 class="card-title">Shave or Wax</h5>
            <p class="card-text">Shave or wax at least 24 hours before your appointment. 
                                This allows your pores to close and prevents the tanning solution from settling into them. 
                                Avoid shaving or waxing immediately before your spray tan, as this can cause irritation and uneven application.</p>
            </div>
        </div>
        <div class="card" style="width: 22rem; margin: 1.5rem;">
            <div class="card-body">
            <h5 class="card-title">Avoid Moisturizers and Oils</h5>
            <p class="card-text">On the day of your spray tan, avoid using moisturizers, oils, perfumes, or deodorants. 
                                These can create a barrier on your skin and prevent the tanning solution from absorbing evenly.</p>
            </div>
        </div>
        <div class="card" style="width: 22rem; margin: 1.5rem;">
            <div class="card-body">
            <h5 class="card-title"> Choose Loose, Dark Clothing </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"> We will offer you a robe to change into upon arrival </h6>
            <p class="card-text">Wear loose, dark clothing to your appointment to prevent the tan from rubbing off on your clothes and 
                                to avoid pressure marks on your skin. Avoid wearing tight clothing and undergarments immediately after the tan.</p>
            </div>
        </div>
        <div class="card" style="width: 22rem; margin: 1.5rem;">
            <div class="card-body">
            <h5 class="card-title"> Remove Makeup and Jewelry </h5>
            <p class="card-text">Remove all makeup, jewelry, and accessories before your spray tan. This ensures an even application 
                                on all areas of your skin.</p>
            </div>
        </div>
        <div class="card" style="width: 22rem; margin: 1.5rem;">
            <div class="card-body">
            <h5 class="card-title"> Plan Your Timing </h5>
            <p class="card-text">Schedule your spray tan at least a day before any important events to allow the tan to 
                develop fully and to make sure you can rinse off any excess solution. Avoid getting wet (e.g., showering, swimming, sweating) 
                for at least 8-12 hours after your spray tan to allow the color to develop properly.</p>
            </div>
        </div>  
    </div>
</div>

{% endblock %}