{% load static %}

<footer style="margin-top: 1rem;">
    <div class="bg-light text-black pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-normal"> Elevate Tanning </h5>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-normal"> Useful Links</h5>
                    <p>
                        <a href="{% url 'index' %}" class="text-black" style="text-decoration: none;"> Home </a>
                    </p>
                    <p>
                        <a href="{% url 'about' %}" class="text-black" style="text-decoration: none;"> About </a>
                    </p>
                    <p>
                        <a href="#" class="text-black" style="text-decoration: none;"> Booking </a>
                    </p>
                    <p>
                        <a href="#" class="text-black" style="text-decoration: none;"> Precare </a>
                    </p>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-normal"> Contact </h5>
                    <p>
                        <i class="fas fa-home mr-3"></i> UBC Campus Vancouver
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> rachelle100grabarczyk@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +1 (306) 520-2355
                    </p>
                </div>

                <hr class="mb-4">

                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-7">
                        <p> Website designed and developed by: 
                            <a href="#" style="text-decoration: none;">
                                <strong> Stefan Ilic </strong>
                            </a>
                        </p>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-black" style="font-size: 23px;">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-black" style="font-size: 23px;">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>